DOMAIN=budgie.verceel.me

# APP_KEY= echo "base64:$(openssl rand -base64 32)"
APP_KEY=

STRIPE_SECRET=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=

# Connexion sociale (OAuth). Redirect URI en prod : https://${DOMAIN}/api/auth/{provider}/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=


# MAIL_HOST=smtp-relay.brevo.com
# MAIL_PORT=587
# MAIL_USERNAME=
# MAIL_PASSWORD=
# MAIL_FROM_ADDRESS=no-reply@tondomaine.fr
