DOMAIN=budgie.verceel.me

# APP_KEY= echo "base64:$(openssl rand -base64 32)"
APP_KEY=

STRIPE_SECRET=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=


# MAIL_HOST=smtp-relay.brevo.com
# MAIL_PORT=587
# MAIL_USERNAME=
# MAIL_PASSWORD=
# MAIL_FROM_ADDRESS=no-reply@tondomaine.fr
